:root{
    --primary-link-color:#223c50;
}
*{
    font-family:'Montserrat', sans-serif;
    word-break: break-word;
    font-size: 18px;
}

body{
    background-color:#eeeef7;
}

table{
    margin:0 auto;
    overflow-x:auto;
    font-size: 18px;
}

.sections-headings{
    background-color: green;
}

.footer-paragraph{
    background-color: green;
}

.footer-paragraph a{
    color: black;
}

.table-container{
    width:100%;
    overflow-x: auto;
    max-width: 1200px;
    margin:0 auto;
}

tr:nth-child(odd){
    background-color:slategray;
}
tr:nth-child(even){
    background-color:lightgray;
}

tr:hover{
    opacity:0.8;
}

td{
    padding: 10px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1, h2, h3, h4{
    margin-top: 40px;
    text-align: center;
    color: #529fcc;
    font-weight:bold;
    /* background-color: slategray; */
    /* color:white; */
}
footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color: #529fcc;
    /* padding-bottom: 16px; */
    color: white;
}


.social-container{
    padding-top:20px;
    padding-bottom:20px;
}

/* @keyframes picture{
    0%{
        transform: translate(4px,0px); 
    }
    50%{
        transform: translate(-4px, 0px); 
    }
    100%{
        transform: translate(4px,0px); 
    }
} */
.overview{
    margin-top: 60px;
    line-height: 2em;
    font-size: 18px;
    text-align:center;
    margin-left: 20px;
}

.main-information{
    font-size: 16px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin-bottom:66px;
    margin-top: 50px;
}


.picture{
    z-index:-1;
    border-radius:10%;
    width:400px;
    max-width:400px;
    height:auto;
    /* margin-right:40px; */
    animation: 3s picture infinite;
}

.fa-code, .fa-book-open{
    padding-right:15px;
}

.fa-code:hover, .fa-book-open:hover, .fa-circle-info:hover{
    color: white;
    transition: color 0.2s ease;
    translate: 0px -4px;
    transition: color 0.2s ease, translate 0.3s linear;
}

.main-footer{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:auto;
    background-color: #529fcc;
    padding-bottom: 16px;
    color: white;
}

a{
    color:var(--primary-link-color);
    font-size:inherit;
    text-decoration:underline;
}

a:hover{
    color: #529fcc;
    font-weight: bold;
    padding-right:2px;
    /* padding-bottom: 4px; */
    text-decoration:none;
    border-bottom:3px solid #529fcc;
    transition: padding-right 0.3s ease-out, padding-right 0.3s ease-out, border-bottom 0.3s ease-out, padding-bottom 0.3s ease-out, color 0.3s ease-out; 
}

.main-footer p, .main-footer a{
    color: #000000;
    text-align:center;
    padding: 0;
    flex-direction: column;
    align-content: space-between;
}

.footer-links{
    color: green;
}

.footer-links:hover{
    color: white;
    transition: color 0.2s ease;
}


.anchors{
    text-decoration: none;
    border-radius:6px;
    padding:14px;
    display: inline-block;
    font-size: 18px;
    color:white;
    background-color: slategray;
    margin: 10px;
}

.anchors:hover{
    opacity:0.8;
    transition: opacity 0.2s ease;
}

.features-paragraphs{
    word-break: break-word;
    color: black;
    font-size: 20px;
}

span{
    color: green;
    
}

h4{
    font-size:18px;
    text-align:center;
}

code{
    word-wrap: break-word;
}

p{
    /* background-color:darkgray; */
    /* color:white; */
    padding: 15px 10px;
    font-size:16px;
    /* text-align:center; */
}
ol, li{
    background-color: lightgray;
}

li{
    padding: 15px 0 10px 15px;
    font-size: 20px;
   
}

li:hover{
    background-color:slategray;
    opacity:0.9;
}

/* scrollbar width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* scrollbar Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #529FCC;
    border-radius: 10px;
  }
  
  /* scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #1C7488;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #529fcc;
    transition: background-color 1s ease-in-out;
  }

@media screen and (max-width: 780px){
  
    .picture{
        width: 65%;
        height: auto;
        margin-top: 15px;
    }

    .main-information{
                flex-direction:column;
                align-items:center;
                
    }

    .overview{
        width: 100%;
        margin: 30px auto;
    }

    .main-footer{
        padding-top:10px;
        position:static;
        text-align: center;
    }
   
    
}

@media screen and (min-width: 781px){
  
    .picture{
        width: 45%;
        height: auto;
        margin-top: 15px;
        margin-right:40px;
    }

    .main-information{
                flex-direction:row;
                align-items:center;
                
    }

    .overview{
        width: 95%;
        margin: 30px auto;
    }

    .main-footer{
        text-align: center;
    }
   
    .main-footer{
        padding:0;
    }
    
}